.checkout {
	max-width: 1500px;

	padding: 20px;
	margin-left: auto;
	margin-right: auto;

	display: flex;
	background-color: white;
	height: max-content;
}
.checkout__left {
}
.checkout__right {
	margin-left: 20px;
}
.checkout__title {
	margin-right: 11px;
	padding: 11px;
	border-bottom: 1px solid lightgray;
}
.checkout__ad {
	width: 100%;
	margin-bottom: 10px;
	max-height: 250px;
}
