.product {
	display: flex;
	flex-direction: column;
	max-height: 401px;
	min-width: 101px;
	background-color: white;
	margin: 10px;
	z-index: 1;
	width: 100%;
	padding: 20px;
	justify-content: flex-end;
}

.product__rating {
	display: flex;
	max-width: 75px;
	object-fit: contain;
}

.product__price {
	margin-top: -15px;
}
.product img {
	width: 100%;
	max-height: 200px;
	object-fit: contain;
	margin-bottom: 16px;
}
.product__button {
	background: linear-gradient(#f5d78d, #f2c963);
	border: 1px solid;
	border-color: #aa8734 #9c7e31 #846a29;
	padding-top: 5px;
	width: 100%;
	max-width: 135px;
	margin-left: auto;
	margin-right: auto;
	max-width: 135px;
	padding-bottom: 5px;
	border-radius: 3px;
}
.product__image-button-wrap {
	display: flex;
	flex-direction: column;
}
